.fa-plaza {
    width: 16px;
    height: 16px;
    background: url(../../../../image/logo/plaza.png) center no-repeat;
    background-size: contain;
}
.section-plaza-engine {
    margin:0;
    padding: 0;
}
.top-menu-bar {width:100%;overflow: auto;margin-bottom: 15px;background: #19222e;}
.top-menu-bar.bar-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index:100;
}
.top-menu-bar .logo {
    float: left;
    width: 10%;
    font-size: 14px;
    font-weight: bold;
    padding: 13px;
    background: #000;
    color: #ff5e00;
}
.bar-fixed .logo {
    width: 235px;
}
.top-menu-bar .logo span {margin-left: 10px;}
.section-plaza-engine ul.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}
.section-plaza-engine ul.menu-items li {
    float: left;
    text-align: center;
    position: relative;
    display: block;
}
.section-plaza-engine ul.menu-items li a {padding: 13px;display: block;font-size: 15px;font-weight: bold;color: #FFF;background: #e3503e;}
.section-plaza-engine ul.menu-items li a.active, .section-plaza-engine ul.menu-items li a:hover {background: #901000;}
.header-engine {
    display: block;
    overflow: auto;
    margin: 10px 0;
}
.header-engine h2 {
    line-height: inherit;
    font-weight: bold;
    color: #ff5e00;
}
.body-engine {background-color: #FFF; padding: 20px;}
.body-engine .form-horizontal {margin-top: -10px;}
.body-engine .form-horizontal .form-group {margin-left:0; margin-right:0;}
